.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 4rem 1fr;
  grid-template-areas: "topbar topbar" "sidebar editor";
  width: 100vw;
  height: 100vh;
  background-color: rgb(247, 249, 249);
}

.topbar {
  grid-area: topbar;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #00000038;
  z-index: 10;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(37, 37, 37);
}

.sidebar { 
  grid-area: sidebar; 
  padding: 8px;
  background-color: white;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0px 4px 8px 0px #00000012;
}

.editor { 
  grid-area: editor; 
  overflow: auto;
  position: relative;
}

.dropzone {
  height: 100%;
  min-height: min-content;
  min-width: min-content;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.centered {
  text-align: center;
  line-height: 90px;
  height: 100%;
}

.box {
  position: absolute;
  display: block;
  border-style: solid;
  pointer-events: none;
  opacity: 1;
}

/*.box:hover {
  opacity: 1;
}*/

.format-input {
  text-align: center;
  font-family: monospace;
}

.format-area {
  margin-bottom: 1rem;
}

.tooltip-span {
  border-bottom: 1.5px dotted #ccc;
  color: rgb(32, 32, 58);
}

.editable-line {
  stroke-opacity: 0;
  transition: stroke-opacity 0.1s;
}

.editable-line:hover {
  stroke-opacity: 0.6;
}

.editable-box {
  fill-opacity: 0.3;
  transition: fill-opacity 0.1s;
}

.editable-box:hover {
  fill-opacity: 0.4;
}

.box-list-item-icon {
  user-select: none;
  appearance: none;
  vertical-align: middle;
  color: rgba(0, 0, 0);
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
  line-height: 1;
  opacity: 0.3;
}

.box-list-item-icon:hover {
  opacity: 0.7;
}

.box-list-item-icon:active {
  opacity: 0.9;
}